@{
    Page.Title = "Сведения о нас";
}

<section id="main">
    <h1>Немного о компании Fourth Coffee</h1>
    <p>
        Компания Fourth Coffee была основана в 2010 г. и она поставляет кофе и свежую выпечку прямо к вашей двери. 
        В другой жизни Билл Бейкер (Bill Baker) был разработчиком днем и поваром-кондитером ночью.  
        Но скоро врожденные таланты Bill's, связанные со всем, что касается масла, муки и сахара, стали более важны, 
        чем его таланты программиста, и то, что начиналось как способ удовлетворения внутреннего сладкоежки, 
        стало занимать все его время.  Fourth Coffee — не просто карамельная страна чудес 
        с кофе, пирожными, печеньями и тортами, эта компания также использует технические навыки своего основателя, применяя современную 
        веб-систему заказов, которая позволяет любому человеку с доступом в Интернет заказать 
        заказать натуральные приготовленные из местных продуктов сладости и получить их 
        в течение 24 часов.
    </p>
</section>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Ищите нас", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
